* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.output{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  background-color: #3B4CCA;
}
nav{
  background-color: blanchedalmond;
}

